/* Write your styles */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    min-height: 100%;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    position: relative;
    background: #fff;
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
    font-weight: normal;
    line-height: 1.6;
    color: #333333;
    font-size: 1.6rem;
}
article {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #999;
    background: #f6f6f6;
}
.style4 {
    min-height: 100%;
    height: auto;
    display: block;
    padding: 0;
 }
.style4 .main {
    padding: 0;
}
.main {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
    flex: 1 1 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 12px;
    font-size: 12px;
    line-height: 1.583;
}
header {
    position: relative;
    display: table;
    width: 100%;
    background-size: 100% auto;
    background: url("../i/header.gif") no-repeat right top;
    padding: 66.6666667% 0 0 0;
}
header img {
    position: absolute;
    width: 36%;
    height: auto;
    bottom: 26%;
    left: 50%;
    margin-left: -18%;
}
header p {
    position: absolute;
    width: 100%;
    bottom: 9%;
    color: #d5d5d5;
    text-align: center;
    letter-spacing: 0.1px;
}
header h1 {
    position: absolute;
    width: 100%;
    height: 37px;
    bottom: -7%;
    color: #d5d5d5;
    text-align: center;
    background: url("../i/slogan.png") no-repeat center top;
}
.style4 .preview {
    position: relative;
    margin: 1.1rem 0 0;
    padding: 1.5rem 1rem;
    width: 100%;
    border-top: solid 1px #d2d2d2;
    overflow: hidden;
    overflow-x: scroll;
}
.mod-detail-slide {
    position: relative;
    padding: 16px 0!important;
    width: 100%;
    overflow: hidden;
}
.style4 .preview ul {
    list-style: none;
    /*overflow: hidden;*/
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.style4 .preview li {
    -webkit-box-flex: none;
    -webkit-flex: none 1 0;
    flex: none 1 0;
    margin-right: 10px;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.5);
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
.style4 .preview li img {
    width: 13.5rem;
    height: auto;
}
.mod-detail-slide ul li {
    margin-left: 4px!important;
    margin-right: 0!important;
}
.mod-detail-slide {
    position: relative;
    padding: 16px 0!important;
    width: 100%;
    overflow: hidden;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    background: #3d3d3d;
}
.footer img {
    width: 96%;
    height: auto;
}


/*sdsf*/
.style4 .preview .mod-scroll-bar {
    display: block;
    position: absolute;
    bottom: 6px;
    left: 12px;
    right: 12px;
    width: auto;
    height: 2px;
}
element.style {
    width: 46%;
    transform: translate3d(0%, 0px, 0px);
}
.style4 .preview .mod-scroll-bar .scroll {
    height: 100%;
    background: #999;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.mod-detail-slide .mod-scroll-bar .scroll, .mod-detail-slide ul {
    -webkit-transition: -webkit-transform 500ms;
    transition: -webkit-transform 500ms;
}
.mod-scroll-bar .scroll {
    height: 2px;
    background: #999;
}